body {
  margin: 0;
  font-family: "Poppins", sans-serif;
  color: #333;
  background-color: #fff;
}

.hero {
  background: rgba(255, 255, 255, 1);
  min-height: 100vh;
  padding-top: 1rem;
  padding-bottom: 5rem;
  overflow: hidden;
}

.hero-img {
  width: 100%;
  max-height: 85vh;
  object-fit: cover;
  border-radius: 12px;
  transition: transform 0.5s ease;
}

.caption {
  font-size: 2.5rem;
  font-weight: 600;
  color: #1e3c72;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);
}

.hero p {
  max-width: 900px;
  font-size: 1.25rem;
  margin: 0 auto;
  color: #444444;
  line-height: 1.7;
}

/* Divider for smooth color transition */
.section-divider {
  height: 120px;
  background: linear-gradient(to bottom, rgba(14, 158, 89, 0), #faebd7);
}

/* Popular Destinations */
.popular-destinations {
  background-color: #faebd7;
  padding-top: 3rem;
  padding-bottom: 5rem;
}

h2 {
  font-weight: 600;
  font-size: 2.5rem;
  color: #1e3c72;
  letter-spacing: 1px;
  margin-bottom: 6rem;
}

.card {
  border: none;
  border-radius: 12px;
  transition: all 0.3s ease;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
}

.card:hover {
  transform: translateY(-10px) scale(1.03);
  box-shadow: 10px 30px 50px rgba(0, 0, 0, 0.25);
}

.card img {
  height: 200px;
  object-fit: cover;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
  transition: transform 0.3s ease;
}

.card-title {
  font-weight: 600;
  color: #2b2b2b;
}

.card-text {
  font-size: 1rem;
  color: #0d0000;
}

.section-divider2 {
  height: 120px;
  background: linear-gradient(to bottom, #faebd7, #0e9e5900);
}

.Delicacy {
  padding-top: 3rem;
  padding-bottom: 5rem;
}

/* .Delicacy h3 {
  font-weight: 600;
  font-size: 2.5rem;
  color: #1e3c72;
  letter-spacing: 1px;
  margin-bottom: 5rem;
} */

.desc {
  font-size: 1.25rem;
  margin-bottom: 2rem;
}

.section-divider3 {
  height: 120px;
  background: linear-gradient(to bottom, rgba(14, 158, 89, 0), #faebd7);
}

.event {
  background-color: #faebd7;
  padding-top: 3rem;
  padding-bottom: 5rem;
}

.festival img {
  width: 100%;
  height: 250px;
  margin-bottom: 2rem;
  object-fit: cover;
  border-radius: 10px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}