.container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.container img {
  width: 100%;
  height: auto;
  max-height: 75%;
  border-radius: 10px;
  margin-top: 100px;
}

.caption {
  font-size: 2rem;
  color: #333;
  font-weight: 500;
}

.card img {
  height: 200px;
  object-fit: cover;
}

h2 {
  font-weight: 600;
  color: #333;
}

